body {
  margin: 0;
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope';
  color: hsl(217, 19%, 35%);
}

p {
  font-family: 'Manrope';
  color: hsl(214, 17%, 51%);
}

.card {
  position: relative;
  top: calc(50% - 160px);
  margin: auto;
  width: 950px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px lightgrey;
  overflow: hidden;
}

#background-image {
  background-image: url('../images/drawers.jpg');
  float: left;
  width: 37%;
  height: 320px;
  margin-right: 30px;
  background-size: 125% 125%;
}

.content {
  padding: 30px;
  padding-bottom: 0;
}

.card-footer img {
  border-radius: 100%;
  float: left;
  width: 42px;
}

#signature {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10px;
}

#signature h4 {
  margin: 0;
}

#signature p {
  margin: 0;
  color: hsl(210, 23%, 69%);
}

#share {
  background-color: hsl(210, 46%, 95%);
  border-radius: 100%;
  padding: 6px 7px;
  position: absolute;
  right: 60px;
  bottom: 47px;
  transition: background-color .3s;
}

#share svg path {
  transition: fill .3s;
}

#share:hover, #share:active, #share.share-active {
  background-color: hsl(217, 19%, 35%);
  cursor: pointer;
}

#share:hover svg path, #share:active svg path, .share-active svg path {
  fill: hsl(210, 46%, 95%);
}

#socials {
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  border-radius: 10px;
  left: 100000px;
  top: 50%;
  align-items: center;
  padding: 8px 35px;
  box-shadow: 0px 0px 15px lightgrey;
  opacity: 0;
  transition: opacity .3s;
}

#socials.active {
  left: calc(50% + 275px);
  display: flex;
  opacity: 1;
}

#socials p {
  color: hsl(210, 46%, 95%);
  opacity: 0.6;
  letter-spacing: 5px;
  margin-right: 15px;
}

#socials svg {
  padding: 0px 7px;
  cursor: pointer;
}

i.arrow {
  position: absolute;
  bottom: -15px;
  left: calc(50% - 15px);
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid hsl(217, 19%, 35%);
}

@media screen and (max-width: 1068px) {
  body {
    font-size: 11px;
  }

  .content {
    padding: 20px 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 340px;
    top: calc(50% - 340px);
  }

  #background-image {
    float: none;
    width: 100%;
    height: 300px;
  }

  #share {
    bottom: 30px;
    right: 50px;
  }
}
